{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
      
    </div>
    <div class="col-sm">
        <h3>FICHEROS DE VIGILANCIA DE GRIPE para el SVGE</h3>
      <a href="{{ asset('centinela/anexoa2.txt') }}" class="btn btn-info" role="button">Ver fichero .txt de población anual</a>
    </div>
    <div class="col-sm">
      
    </div>
       
        </div>
    
    
     <div class="row">
            <div class="col-sm">
      
    </div>
    <div class="col-sm">
        
        
        
        
      <h1>Listado de población anual</h1>
<table border="1">
    <tr>
        <th>Código Red</th>
        <th>Municipio</th>
        <th>Médico centinela</th>
        <th>Población</th>
    </tr>
    <pre><code>
    {# {% for centinela in centinelas %}
    <tr>
        <td>{{ centinela.red }}</td>
        <td>{{ centinela.municipio }}</td>
        <td>{{ centinela.anyo }}</td>
        <td>{{ centinela.id_usuario }}</td>
    </tr>
    {% endfor %} #}
</code></pre>
</table> 
    </div>
    <div class="col-sm">
      
    </div>
     






        </div>
    
    
    
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
